body {
  background-color: ghostwhite;
}
.container {
  margin: auto;
  margin-top: 40px;
  text-align: center;
  width: auto;
  border-radius: 20px;
  background-image: url("https://media.istockphoto.com/id/489553794/photo/teal-and-white-doggy-tile-pattern-repeat-background.jpg?s=612x612&w=is&k=20&c=HGLjDV9OKfSDCks6NyHDPwdWPUsq6U7Ee-qeJk0j6uc=");
}
#img {
  padding: 10px;
  width: 400px;
  height: 200px;
  border-radius: 20px;
}
#loading {
  display: none;
}
